page-page1 {

	.toolbar-background-md
	{
		background: black;
		border-color: white;		
	}
	.toolbar-title-md
	{
		color: white;
	}

	ion-label 
	{
	  display: block;
	  overflow: hidden;
	  -webkit-flex: 1;
	  -ms-flex: 1;
	  flex: 1;
	  margin: 0;
	  font-size: inherit;
	  text-overflow: ellipsis;
	  white-space: none;
	}
}
